* {
  padding: 0px;
  margin: 0px;
}

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+QLD:wght@100..400&family=Playwrite+HU:wght@100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Saira:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Saira", sans-serif;
}

.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-text  {
  height: 100vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  background-image: url(../img/capa_fundos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.995);
}

.login-text h1 {
  width: 450px;
  font-size: 2.3rem;
}
.login-text p{
  width: 450px;
  margin-top: 10px;
  font-size: 1.3rem;
  padding: 20px;
}
#signup-text  h1 , p{
   text-align: center;
  
}
.login-form {
  width: 100vw;
  height: 100vh;
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}
.login-form > p {
  text-align: left;
  width: 500px;
  font-size: 1.2rem;
  margin-bottom: -20px;
  color: black;
}

.form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  margin-top: 10px;
  padding: 8px;
  text-align: center;
}
.form form > input {
  width: 350px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(216, 211, 204);
}
.acesso input {
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 15px;
  background: linear-gradient(rgb(84, 147, 209), rgb(56, 56, 230));
  width: 350px;
  border: none;
  margin-top: 25px;
  border-radius: 10px;
  box-shadow: 1px 2px 2px black;
}
.acesso button{
   color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px;
  background: linear-gradient(rgb(84, 147, 209), rgb(56, 56, 230));
  width: 350px;
  border: none;
  margin-top: 25px;
  border-radius: 10px;
  box-shadow: 1px 2px 2px black;

}

.form form > a {
  width: 350px;
  font-size: 1.1rem;
  margin-top: 20px;
  color: black;
  text-align: right;
  text-decoration: none;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.form form a:hover {
  color: rgb(56, 56, 230);
}

.form .acesso button:hover {
  cursor: pointer;
  background: linear-gradient(rgb(56, 56, 230), rgb(87, 147, 207));
}

.images {
  width: 200px;
  margin-bottom: 50px;
}

 .acesso-email {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 1px;
  margin-top: 25px;
   
}
.line {
  
  width: 80px;
  height: 1px;
  margin: 12px;
  background-color: black;

}

.acesso-email > p {  
  font-size: 1.2rem;
  color: rgb(95, 101, 106);
  margin-top: -3px;
  
}

.login-google {
  width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 15px;
  padding: 5px;
  box-shadow: 0px 0px 1px rgb(0, 0, 0);
  margin-top: 40px;
}

.login-google img {
  width: 30px;
}
.login-google a {
  font-size: 1.2rem;
  text-decoration: none;
  margin-left: 10px;
  color: black;
  text-decoration: none;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
#cadastro {
  margin-top: 50px;
  font-size: 1.2rem;
}
#cadastro a {
  text-decoration: none;
  color: rgb(74, 108, 231);
}
/* animacao */

.login-text {
  animation: full 60s linear alternate-reverse;
  animation-iteration-count: infinite;
}
@keyframes full {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
/* Fim da Animação */
/* ============================= pagina cadastro ================================== */
.login-form-sing-up{
  display: flex;
  flex-direction: column;
   width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

}

.form-sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  margin-top: 10px;
  padding: 8px;
  text-align: center;
}

.form-sign-up form > input {
  width: 300px;
  margin-top: 20px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid rgb(216, 211, 204);
}
.form-sign-up button {
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px;
  background: linear-gradient(rgb(84, 147, 209), rgb(56, 56, 230));
  width: 310px;
  border: none;
  margin-top: 25px;
  border-radius: 10px;
  box-shadow: 1px 2px 2px black;
}

.sign-up-form-login{
  margin-top: 45px;
}


/* ====================== fim pagina cadastro ========================================= */